altgraph==0.17.4
backcall==0.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
click-default-group==1.2.4
cloup==0.13.1
colorama==0.4.6
colour==0.1.5
cssselect==1.2.0
DataRecorder==3.6.2
decorator==5.1.1
dill==0.3.9
distlib==0.3.8
docopt==0.6.2
docutils==0.21.2
DownloadKit==2.0.5
DrissionPage==4.1.0.9
et_xmlfile==2.0.0
fastjsonschema==2.20.0
filelock==3.16.1
glcontext==2.4.0
greenlet==3.1.1
idna==3.4
iniconfig==2.0.0
inquirerpy==0.3.4
isosurfaces==0.1.0
jupyterlab_pygments==0.3.0
lxml==5.2.2
manim==0.17.3
manim-rhythm-graph==0.1.0
ManimPango==0.4.4
mapbox-earcut==1.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mistune==3.0.2
moderngl==5.8.2
moderngl-window==2.4.4
multipledispatch==1.0.0
multiprocess==0.70.14
nestd==0.3.1
networkx==2.8.8
nodeenv==1.9.1
Nuitka==2.5.6
numpy==1.26.0
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.9.15
packaging==24.1
pandocfilters==1.5.1
parso==0.8.4
pdfkit==1.0.0
pefile==2023.2.7
pfzy==0.3.4
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==4.2.2
playwright==1.48.0
pluggy==1.5.0
prompt_toolkit==3.0.47
psutil==6.1.0
pure_eval==0.2.3
pycairo==1.25.0
pydub==0.25.1
pyee==12.0.0
pyglet==2.0.9
Pygments==2.16.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pyrr==0.10.3
PySide6==6.8.0.2
PySide6_Addons==6.8.0.2
PySide6_Essentials==6.8.0.2
pytest==8.3.3
pytest-base-url==2.1.0
pytest-playwright==0.5.2
python-slugify==8.0.4
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.1
pyzmq==26.2.0
QtPy==2.4.2
requests==2.31.0
requests-file==2.1.0
rich==13.6.0
robyn==0.64.2
rpds-py==0.20.0
rustimport==1.3.4
scipy==1.11.3
screeninfo==0.8.1
shiboken6==6.8.0.2
six==1.16.0
skia-pathops==0.7.4
soupsieve==2.6
SQLAlchemy==2.0.36
srt==3.5.3
svgelements==1.9.6
text-unidecode==1.3
tinycss2==1.3.0
tldextract==5.1.2
toml==0.10.2
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.0.6
watchdog==4.0.1
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
zstandard==0.23.0
